
<ngb-accordion [closeOthers]="true">
  <ngb-panel title="Собираете ли вы подарочные боксы?" class="accordion-button">
    <ng-template ngbPanelContent>
      Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
      стоимость!
    </ng-template>
  </ngb-panel>
  <ngb-panel title=" Сколько у вас разновидностей чая?" class="accordion-button">
    <ng-template ngbPanelContent>
      На данный момент наша чайная коллекция содержит шесть разновидностей.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="В какой срок осуществляется доставка?" class="accordion-button">
    <ng-template ngbPanelContent>
      Срок доставки зависит от адреса, куда нужно доставить.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="У вас обновляется ассортимент?" class="accordion-button">
    <ng-template ngbPanelContent>
      Да, за обновлениями нашего ассортимента можете следить на нашем сайте.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Какого объема у вас пачки чая?" class="accordion-button">
    <ng-template ngbPanelContent>
      Вес упаковок чая от 100гр до 500гр.
    </ng-template>
  </ngb-panel>
</ngb-accordion>
