<header class="bg-body-tertiary container-fluid d-flex justify-content-center align-items-center py-2">
    <div class="menu m-3" id="menu">
      <ul class="list-unstyled d-flex align-items-center justify-content-center">
        <li class="me-3 align-items-center justify-content-center">
          <a routerLink="" class="text-decoration-none text-secondary h4">Главная</a>
        </li>
        <li class="me-3"><a routerLink="/products" class="text-decoration-none text-secondary h4">Каталог</a></li>

      </ul>
    </div>
</header>
